{# Google Analytics 4 - Only loads if enabled in site.json #}
{% if site.analytics.ga4.enabled %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.ga4.measurementId }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.analytics.ga4.measurementId }}');
</script>
{% endif %}
