{% set book = site.books[bookKey] %}
{% set displayBookTitle = bookDisplayTitle or book.title %}
{% set purchaseUrl = (book.purchaseOptions and book.purchaseOptions[0] and book.purchaseOptions[0].url) or (book.gumroad and book.gumroad.fullBook) or '' %}
{% set thumbnailUrl = ((book.purchaseOptions and book.purchaseOptions[1] and book.purchaseOptions[1].key == 'amazon-paperback') and book.purchaseOptions[1].url) or ((book.purchaseOptions and book.purchaseOptions[0] and book.purchaseOptions[0].key == 'amazon-paperback') and book.purchaseOptions[0].url) or purchaseUrl %}
{% if book.thumbnailPath %}
<a
  href="{{ ctaLink(thumbnailUrl, { content: book.key ~ '-thumbnail-' ~ (currentLang or 'en') }) }}"
  class="book-thumbnail"
  target="_blank"
  rel="noopener"
  aria-label="{{ displayBookTitle }}"
  data-ga-event="cta_click"
  data-ga-cta-type="thumbnail"
  data-ga-book="{{ book.key }}"
  data-ga-location="book-facts"
  data-ga-language="{{ currentLang or 'en' }}"
>
  <img
    src="{{ book.thumbnailPath | url }}"
    alt="{{ displayBookTitle }} cover"
    class="book-thumbnail__image"
    width="1024"
    height="1024"
    loading="lazy"
    decoding="async"
  >
</a>
{% endif %}
<div class="book-facts">
  {% if book.purchaseOptions %}
    {% for option in book.purchaseOptions %}
  {% if option.priceDisplay %}
  <div class="book-fact">
    <span class="book-fact__label">{{ (option.localizedLabels and option.localizedLabels[currentLang]) or option.label }}</span>
    <strong>{{ option.priceDisplay }}</strong>
  </div>
  {% endif %}
    {% endfor %}
  {% else %}
  <div class="book-fact">
    <span class="book-fact__label">{{ productUi.fullBook }}</span>
    <strong>{{ site.sales.fullBookPriceDisplay }}</strong>
  </div>
  {% endif %}
  <div class="book-fact">
    <span class="book-fact__label">{{ productUi.freeSample }}</span>
    <strong>{{ productUi.free if book.sample else (productUi.notAvailable or 'Not available') }}</strong>
  </div>
  {% if not book.purchaseOptions %}
    <div class="book-fact">
      <span class="book-fact__label">{{ productUi.format }}</span>
      <strong>{{ book.format or site.sales.format }}</strong>
    </div>
  {% endif %}
  {% if book.pageCount %}
    <div class="book-fact">
      <span class="book-fact__label">{{ productUi.pages }}</span>
      <strong>{{ book.pageCount }}</strong>
    </div>
  {% endif %}
</div>
{% if book.discountCode %}
<p class="book-note book-note--accent">{{ productUi.discountPrefix }}{{ book.discountCode }}{{ productUi.discountSuffix }}</p>
{% endif %}
