{% from "cta-helpers.njk" import ctaLink with context %}
<header class="site-header">
  <div class="container">
    <a href="{{ '/' | pageUrl }}" class="logo">{{ site.brand.shortName }}</a>
    <nav class="main-nav">
      <a href="{{ '/' | pageUrl }}">Home</a>
      {% for examKey in site.examOrder %}
        {% set exam = site.exams[examKey] %}
        <a href="{{ '/' | pageUrl }}#{{ exam.anchor }}">{{ exam.navLabel }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
