<header class="site-header">
  <div class="container">
    <a href="{{ '/' | url }}" class="logo">OEIF B1 Speaking</a>
    <nav class="main-nav">
      <a href="{{ '/' | url }}">Home</a>
      <a href="{{ '/planning-dialogue-doctor-appointment' | url }}">Doctor Appointment</a>
      <a href="{{ '/planning-dialogue-hotel-booking' | url }}">Hotel Booking</a>
      <a href="{{ '/picture-description-technique' | url }}">Picture Description</a>
      <a href="{{ '/opinion-discussion-phrases' | url }}">Opinion & Discussion</a>
    </nav>
  </div>
</header>
