<header class="site-header">
  <div class="container">
    <a href="{{ (homeUrl or '/') | pageUrl }}" class="logo">{{ site.brand.shortName }}</a>
    <div class="header-right">
      <nav class="main-nav">
        <a href="{{ (homeUrl or '/') | pageUrl }}">{{ ui.homeLabel or 'Home' }}</a>
        {% for examKey in site.examOrder %}
          {% set exam = site.exams[examKey] %}
          <a href="{{ (homeUrl or '/') | pageUrl }}#{{ exam.anchor }}">{{ exam.navLabel }}</a>
        {% endfor %}
      </nav>
      {% include "language-switcher.njk" %}
    </div>
  </div>
</header>
