---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections.all | max('date') | isoDate }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author.name }}</name>
  </author>
  {%- for post in collections.all | reverse | limit(10) %}
  {%- if not post.data.eleventyExcludeFromCollections %}
  <entry>
    <title>{{ post.data.title or post.fileSlug }}</title>
    <link href="{{ site.url }}{{ post.url | url }}"/>
    <updated>{{ post.date | isoDate }}</updated>
    <id>{{ site.url }}{{ post.url | url }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(site.url) }}</content>
  </entry>
  {%- endif %}
  {%- endfor %}
</feed>
